function open-site() {
  xdg-open "https://$1"
}

function open-gh() {
  xdg-open "https://github.com/$1"
}

function open-npm() {
  xdg-open "https://www.npmjs.com/package/$1"
}

function open-twitch() {
  xdg-open "https://www.twitch.tv/$1"
}

# usage: echo hi | create-parent some/file
function create-parent() {
  mkdir -p -- "$1:h" && cat >"$1"
}
