[init]
	defaultBranch = main

[core]
	editor = nano
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[user]
	email = mohammadaminraeisi@outlook.com
	name = MohammadAmin Raeisi
